@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "open sans", helvetica, arial, sans;
}

.dashboard {
  display: flex;
  justify-content: center;
}

.dashboard-question {
  position: absolute;
  width: 400px;
  background-color: #fff;
  padding-bottom: 16px;
  margin-top: 15vh;
  border-radius: 5px;
  border: solid black 3px;
  border-radius: 10px;
}

.dashboard-question h3 {
  background: #28d;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px 0;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.dashboard-question label {
  position: relative;
  left: 5%;
}

.dashboard-question input {
  box-sizing: border-box;
  display: block;
  position: relative;
  left: 5%;
  width: 90%;
  border-width: 1px;
  border-style: solid;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 14px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.dashboard-question input[name="answer"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
  /* padding-left: 30px; */
}

.dashboard-question button {
  background: #28d;
  border-color: transparent;
  position: relative;
  left: 5%;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
}

.dashboard-result {
  background-color: green;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 75vh;
}

.home p {
  font-size: 16px;
}

.home a {
  font-size: 16px;
}