.header-bar {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.header-bar h1 {
  padding: 10px 0;
}

.header-bar button {
  background-color: 
}