@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.home { 
  width: 400px;
  margin: auto;
  /* font-size: 16px; */
}

.home a, p {
  margin: 0px;
  color: #fff;
  font-size: 20px;
  /* text-align: center; */
}

.instructions-header {
  background: #ebebeb;
}

/* h2 {
  font-size: 6.5em;
} */

/* @media (max-width:320px) {
  .instruction-set {
    margin-top: 200px;
    display: block;
    width: 50vw;
    position: relative;
    margin-left: -65vw;
    left: 0%;
  }

} */