.login-form {
  width: 400px;
  margin: 16px auto;
  padding-bottom: 16px;
  font-size: 16px;
  background: #ebebeb;
  border-radius: 10px;
}

.form-error {
  color: tomato;
  font-size: 14px;
  font-weight: 600;
}

.login-error {
  position: relative;
  left: 5%;
}

.login-header {
  margin-top: 0;
  border-radius: 5px 5px 0 0;
  background: #28d;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  /* margin-bottom: 0; */
}

.login-form label {
  position: relative;
  left: 5%;
}

.login-form input {
  box-sizing: border-box;
  position: relative;
  left: 5%;
  display: block;
  width: 90%;
  border-width: 1px;
  border-style: solid;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 14px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
  /* padding-left: 30px; */
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: #888;
  /* border-color: red; */
}

.login-form button {
  background: #28d;
  position: relative;
  left: 5%;
  border-color: transparent;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 12px;
  text-align: center;
}

.login-form button:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login-form button:focus {
  border-color: #05a;
}
/* .instruction-set {
  overflow-y: scroll;
} */

.instructions {
  color: black;
  /* margin: 20px 0; */
  padding: 20px;
}

.instructions-header {
  padding-left: 20px;
}

@media (max-width:320px) {
  .login-form {
    display: block;
    width: 100vw;
    position: relative;
    margin-left: -65vw;
    left: 52%;
    /* margin: 16px auto; */
    padding-bottom: 16px;
    font-size: 16px;
    background: #ebebeb;
    border-radius: 10px;
    /* float: right; */
    /* text-align: center; */
  }

  .bottom-link {
    width: 100vw;
    position: relative;
    margin-left: -65vw;
    left: 20%;
  }

  .instruction-set {
    margin-top: 10px;
    display: block;
    width: 100vw;
    position: relative;
    margin-left: -65vw;
    left: 65%;
  }

  .instruction-set-landing {
    margin-top: 100px;
    display: block;
    width: 100vw;
    position: relative;
    margin-left: -65vw;
    left: 57%;
  }

}