.summary {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  margin: 0 auto;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 400px;
}

.summary h2 {
  margin-top: 0;
  border-radius: 5px 5px 0 0;
  background: #28d;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.summary p {
  color: #000;
  padding: 20px;
}

@media (max-width:320px) {
  .summary {
    margin-top: -200px;
    display: block;
    width: 100vw;
    position: relative;
    margin-left: -60vw;
    left: 110%;
    /* margin: 16px auto; */
    padding-bottom: 16px;
    font-size: 16px;
    background: #ebebeb;
    border-radius: 10px;
    /* float: right; */
    /* text-align: center; */
  }
}